@charset "utf-8";
/* CSS Document */


p{
		color:red;
		font-size: 30px;
		text-indent: 50px;
	}
h1{
		color:blue;
		font-size: 30px;
		text-indent: 50px;
	}
.p1{
		color:yellow;
		font-size: 30px;
		text-indent: 50px;
	}
.p2{
		color:green;
		font-size: 30px;
		text-indent: 50px;
	}
#p1{
		color:purple;
		font-size: 30px;
		text-indent: 50px;
	}
#p2{
		color:orange;
		font-size: 30px;
		text-indent: 50px;
	}